@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
}

.required::after {
  content: ' *';
  @apply text-purple-700;
}

.form-button {
  @apply justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-purple-400 bg-purple-400 hover:bg-purple-500 focus:outline-none focus:border-purple-600  active:bg-purple-600 transition duration-150 ease-in-out;
}

.form-button-disabled {
  @apply justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-gray-400;
}

.form-input {
  @apply block shadow-sm focus:ring-purple-500 focus:border-purple-500  sm:text-sm border-gray-300 rounded-md;
}

.formulate-input-grouping {
  @apply space-y-4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
